/*Foto de usuario - Cuenta*/

#imagenUsuario {
    position: relative;
    top: -100px;
    left: 45%;
    width: 200px;
  
    img {
      height: 200px;
    }
}
  
  /*Encabezado cuenta - Cuenta*/
  
#encabezadoCuenta {
    background-color: #D9D2CB;
}